@model Damplus.Entities.DTOs.PriceListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Qiymetler";
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row">
    <div class="col-md-12  header-wrapper">
        <h1 class="page-header">Admin - qiymet</h1>
        <p class="page-subtitle">Burada  şərh  editləyə və silə bilərsiniz.</p>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<ol class="breadcrumb">
    <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="active"><a asp-area="Admin" asp-controller="Price" asp-action="Index">qiymet</a></li>
    <li>
        <a class="btn btn-success" asp-area="Admin" asp-controller="Price" asp-action="Add">Qiymət Əlavə Et</a>
    </li>
</ol>

<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="commentsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Xidmet</th>
                        <th>Basliq</th>
                        <th>Qiymet</th>
                        <th>Son Edit Tarixi</th>
                        <th>Son Edit İstifadəçi</th>
                        <th>Əməliyyatlar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Xidmet</th>
                        <th>Basliq</th>
                        <th>Qiymet</th>
                        <th>Son Edit Tarixi</th>
                        <th>Son Edit İstifadəçi</th>
                        <th>Əməliyyatlar</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var comment in Model.Prices)
                    {
                    <tr name="@comment.Id">
                        <td>@comment.Id</td>
                        <td>@comment.Business.Title</td>
                        <td>@comment.Header</td>
                        <td>@comment.PriceValue</td>
                        <td>@comment.ModifiedDate.ToShortDateString()</td>
                        <td>@comment.ModifiedByName</td>
                        <td>
                            <a class="btn btn-primary btn-sm mt-1"  asp-action="Update" asp-controller="Price" asp-route-priceId="@comment.Id">
                                <span class="fas fa-edit"></span>Update</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/crud/comment/commentIndex.js" type="application/ecmascript"></script>
}
@section Styles
{

}
