@model Damplus.Mvc.Models.RightSidebarViewModel
@using Damplus.Mvc.Extensions
<aside class="sidebar mb-30">
    <div class="widget widget-search">
        <div class="widget__content">
            <h5 class="widget__title">Axtarış</h5>
            <form class="widget__form-search" role="search" method="get" asp-controller="Article" asp-action="Search">
                <input type="text" class="form-control" placeholder="Axtarış...">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.widget-content -->
    </div><!-- /.widget-search -->
    <div class="widget widget-tags">
        <h5 class="widget__title">Kateqoriyalar</h5>
        <div class="widget-content">
            <ul class="list-unstyled">
                @foreach (var item in Model.Categories)
                {
    <li><a asp-action="Index" asp-controller="Article" asp-route-categoryId="@item.Id">@item.Name</a></li>
}
            </ul>
        </div><!-- /.widget-content -->
    </div><!-- /.widget-CATEGORY -->
    <div class="widget widget-posts">
        <h5 class="widget__title">Populyar bloqlar</h5>
        <div class="widget__content">
            <div class="slick-carousel" data-slick='{"slidesToShow": 1, "arrows": false, "dots": true}'>
                <!-- post item #1 -->
                @foreach (var item in Model.Articles)
                {
    <div class="widget-post-item">
        <div class="widget__post-img">
            <a href="/Bloq/@Url.FriendlyUrlHelper(item.Title).ToLower()/@item.Id"><img data-src="~/img/@item.ThumbNail" class="lazyload" alt="@item.Title"></a>
        </div><!-- /.widget-post-img -->
        <div class="widget__post-content">
            <span class="widget__post-date">@item.CreatedDate.ToShortDateString()</span>
            <h6 class="widget__post-title">
                <a href="/Bloq/@Url.FriendlyUrlHelper(item.Title).ToLower()/@item.Id">@item.Title</a>
            </h6>
        </div><!-- /.widget-post-content -->
    </div>}
                <!-- /.widget-post-item -->
            </div><!-- /.carousel -->
        </div><!-- /.widget-content -->
    </div><!-- /.widget-posts -->
    <div class="widget widget-tags">
        <h5 class="widget__title">Etiketlər</h5>
        <div class="widget-content">
            <ul class="list-unstyled">
                <li><a href="#">Insights</a></li>
                <li><a href="#">Industry</a></li>
                <li><a href="#">Modern</a></li>
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Business</a></li>
            </ul>
        </div><!-- /.widget-content -->
    </div><!-- /.widget-tags -->

</aside>
