@using Damplus.Mvc.Extensions
@model ProjectViewModel
<!-- ========================
     page title
  =========================== -->
<section class="page-title page-title-layout7 bg-overlay bg-overlay-2 bg-parallax text-center">
    <div class="bg-img"><img src="~/damplus/assets/images/backgrounds/damplus55.webp" alt="background"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 class="pagetitle__heading mb-0">Layihələrimiz</h1>
            </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.page-title -->
<!-- ===========================
  portfolio standard
============================= -->
<section id="projects" class="portfolio-carousel">
    <div class="container-fluid">
        <div class="row align-items-center mb-20">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <h2 class="heading__title mb-20">Gördüyümüz son İşlər</h2>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-12 col-lg-7">
                <nav id="slick-filter-buttons" class="nav nav-tabs justify-content-end">
                    @foreach (var item in Model.ProjectCategoryListDto.ProjectCategories)
                    {
                        <a href="" class="nav__link" data-value="@item.Name<">@item.Name</a>
                    }
                </nav>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div style="    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;">
                    <!-- portfolio item #1 -->
                    @foreach (var item in Model.ProjectListDto.Projects)
                    {
                        <div class="portfolio-item Construction all">
                            <div class="portfolio__img">
                                <img src="~/img/@item.Photo" alt="@item.Name | Damplus">
                            </div><!-- /.portfolio-img -->
                        <div class="portfolio__hover">
                            </div>
                            <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href="/Portfolio/@Url.FriendlyUrlHelper(item.Name).ToLower()/@item.Id">@item.Name</a></h4>
                            <div class="text-all-view">
                                <a href="/Portfolio/@Url.FriendlyUrlHelper(item.Name).ToLower()/@item.Id">@item.Name</a>
                            </div>
                                <p class="portfolio__desc">
                                    @Html.Raw(item.Description.Length>150 ? item.Description.Substring(0, 150):item.Description)
                                </p>
                                <a href="/Portfolio/@Url.FriendlyUrlHelper(item.Name).ToLower()/@item.Id" class="btn btn__loadMore"><i class="icon-arrow-right"></i></a>
                            </div><!-- /.portfolio-content --><!-- /.portfolio__hover -->
                    </div>
                    } <!-- /.portfolio-item -->
                </div><!-- /.carousel -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.portfolio standard -->